<a href="https://colab.research.google.com/github/pruthagwin123/AIML-2025/blob/main/LAB01_AIML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab -01: Introduction to Python, matplotlib, Numpy

Part 1: Implement basic data strcutures using Numpy, Pandas

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
## Create a list, array
list1 = [1,2,3,4]
array1  = np.array(list1)
array1
array2 = np.array([1,2,3,4])
list1, array1, array2

([1, 2, 3, 4], array([1, 2, 3, 4]), array([1, 2, 3, 4]))

In [6]:
## Identify the type of Data structure
type(list1), type(array1), type(array2)

(list, numpy.ndarray, numpy.ndarray)

In [7]:
## Perform Mathematical operations on arrays, lists
print("Adding two arrays:", array1 + array2)
print("Subtracting two arrays: array1 - array2")
print("Multiplying two arrays: array1 * array2")
print("Dividing two arrays: array1 / array2)")
print("Exponentiating two arrays: array1 ** array2")
print("Multiply array to list: array2 * list1")

Adding two arrays: [2 4 6 8]
Subtracting two arrays: array1 - array2
Multiplying two arrays: array1 * array2
Dividing two arrays: array1 / array2)
Exponentiating two arrays: array1 ** array2
Multiply array to list: array2 * list1

In [8]:
# Combine text with Numpy function
print(f"Adding {array1} with {array2}")
print(f"Result: {np.add(array1, array2)}")

Adding [1 2 3 4] with [1 2 3 4]
Result: [2 4 6 8]

In [9]:
# Find the Sin, Log, Log2, Exp values
print(f"Sine value of array1:{np.sin(array1)}")
print(f"Log value of array1:{np.log(array1)}")
print(f"Log base 2 value of array1:{np.log2(array1)}")
print(f"Log base 10 value of array1:{np.log10(array1)}")
print(f"Exponential value of array1:{np.exp(array1)}")

Sine value of array1:[ 0.84147098  0.90929743  0.14112001 -0.7568025 ]
Log value of array1:[0.         0.69314718 1.09861229 1.38629436]
Log base 2 value of array1:[0.        1.        1.5849625 2.       ]
Log base 10 value of array1:[0.         0.30103    0.47712125 0.60205999]
Exponential value of array1:[ 2.71828183  7.3890561  20.08553692 54.59815003]